body {
    margin: 0px;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  header {
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font: bolder;
    float: right;
    margin-top: 40px;
   margin-right: 250px;
  }
  #logo {
    margin-left: 80px;
    margin-top: 20px;
  }
  
h1 {
    font-size: 32px;
   
  }
  
  nav ul {
    
    list-style: none;
    
    float: right;
  }
  
  nav li {
   
      
      padding-left: 20px;
      text-align: right;
      float: right;
      width: 130px;
    
      
  
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
   
    
  }
  
  nav li a:hover {
    color: #FF6565;
  }
  nav {
    
    justify-content: space-between;
    align-items: center;
    
  }
  
  nav button {
    background-color: #ff9900;
    color:whitesmoke;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    
  }
  .for {
    background-image: url("Images/headphones_hero_1.jpg");
  }
  
  
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  .hero-text {
    flex: 1;
  }
  
  .hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 15px;
    margin-bottom: 40px;
  }
  
  .hero-text button {
    background-color: #FF6565;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color:whitesmoke;
        border-radius: 50px;
    
  }
  
  .hero-image img {
    width: 500px;
  }
  
    
  
  
  body, header {
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
   .cta p{
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    font-size: 13px;
    padding: 40px;
    display: flex;
    flex: 1;
    margin-left: 120px;
    
   }
   main {
    max-width: 800px;
    margin: 200 auto;
    padding: 200px;
    align-items: center;
    text-align: center;
  }
  /* Media queries */
  @media screen and (max-width: 767px) {
    header {
      padding: 10px;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 10px 0;
    }
  
    main {
      padding: 10px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
      max-width: 600px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    main {
      max-width: 1000px;
    }
  }
  