#what-we-do {
    background-color: #f5f5f5;
    padding: 50px;
    
    
  }
  
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service {
    margin: 20px;
    width: 300px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    color: black;
  }
  
  .service img {
    width: 100%;
  }
  
  .service h3 {
    font-size: 1.5em;
    margin: 20px 0;
  }
  
  .service p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 20px 20px;
  }
  
  
  /* Media queries */
  @media screen and (max-width: 767px) {
    header {
      padding: 10px;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 10px 0;
    }
  
    main {
      padding: 10px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
      max-width: 600px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    main {
      max-width: 1000px;
    }
  }
  